@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f4f6;
  color: #1f2937;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
